# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [2]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_Database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")

# Display sample data
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
0,0,Hermanus,ZA,-34.4187,19.2345,57.79,63,100,6.31,overcast clouds,2022-11-17 20:12:55
1,1,Albany,US,42.6001,-73.9662,40.39,63,19,1.99,few clouds,2022-11-17 20:09:57
2,2,Tignere,CM,7.3667,12.6500,68.49,41,71,2.42,broken clouds,2022-11-17 20:21:03
3,3,Paamiut,GL,61.9940,-49.6678,17.08,63,100,2.89,overcast clouds,2022-11-17 20:21:03
4,4,San Policarpo,PH,12.1791,125.5072,78.55,89,100,6.87,overcast clouds,2022-11-17 20:15:33

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [3]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [4]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
4,4,San Policarpo,PH,12.1791,125.5072,78.55,89,100,6.87,overcast clouds,2022-11-17 20:15:33
7,7,Lamu,KE,-2.2717,40.9020,75.42,86,85,7.25,overcast clouds,2022-11-17 20:21:04
9,9,Puerto Escondido,MX,15.8500,-97.0667,86.83,58,20,5.75,few clouds,2022-11-17 20:21:04
11,11,Mount Isa,AU,-20.7333,139.5000,73.17,40,51,6.91,broken clouds,2022-11-17 20:17:43
12,12,Kahului,US,20.8947,-156.4700,82.42,67,20,9.22,few clouds,2022-11-17 20:16:06
16,16,Rikitea,PF,-23.1203,-134.9692,72.03,87,100,3.58,light rain,2022-11-17 20:12:54
17,17,Alta Floresta,BR,-9.8756,-56.0861,85.28,56,94,3.98,overcast clouds,2022-11-17 20:15:07
18,18,Misratah,LY,32.3754,15.0925,71.17,68,12,4.54,few clouds,2022-11-17 20:21:05
20,20,Vanimo,PG,-2.6741,141.3028,77.50,87,100,2.15,overcast clouds,2022-11-17 20:18:20
21,21,Butaritari,KI,3.0707,172.7902,80.64,75,51,16.53,broken clouds,2022-11-17 20:13:03

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [5]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
4,4,San Policarpo,PH,12.1791,125.5072,78.55,89,100,6.87,overcast clouds,2022-11-17 20:15:33
7,7,Lamu,KE,-2.2717,40.9020,75.42,86,85,7.25,overcast clouds,2022-11-17 20:21:04
9,9,Puerto Escondido,MX,15.8500,-97.0667,86.83,58,20,5.75,few clouds,2022-11-17 20:21:04
11,11,Mount Isa,AU,-20.7333,139.5000,73.17,40,51,6.91,broken clouds,2022-11-17 20:17:43
12,12,Kahului,US,20.8947,-156.4700,82.42,67,20,9.22,few clouds,2022-11-17 20:16:06
16,16,Rikitea,PF,-23.1203,-134.9692,72.03,87,100,3.58,light rain,2022-11-17 20:12:54
17,17,Alta Floresta,BR,-9.8756,-56.0861,85.28,56,94,3.98,overcast clouds,2022-11-17 20:15:07
18,18,Misratah,LY,32.3754,15.0925,71.17,68,12,4.54,few clouds,2022-11-17 20:21:05
20,20,Vanimo,PG,-2.6741,141.3028,77.50,87,100,2.15,overcast clouds,2022-11-17 20:18:20
21,21,Butaritari,KI,3.0707,172.7902,80.64,75,51,16.53,broken clouds,2022-11-17 20:13:03

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [6]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                City Country  Max Temp Weather Description      Lat       Lng
4      San Policarpo      PH     78.55     overcast clouds  12.1791  125.5072
7               Lamu      KE     75.42     overcast clouds  -2.2717   40.9020
9   Puerto Escondido      MX     86.83          few clouds  15.8500  -97.0667
11         Mount Isa      AU     73.17       broken clouds -20.7333  139.5000
12           Kahului      US     82.42          few clouds  20.8947 -156.4700
16           Rikitea      PF     72.03          light rain -23.1203 -134.9692
17     Alta Floresta      BR     85.28     overcast clouds  -9.8756  -56.0861
18          Misratah      LY     71.17          few clouds  32.3754   15.0925
20            Vanimo      PG     77.50     overcast clouds  -2.6741  141.3028
21        Butaritari      KI     80.64       broken clouds   3.0707  172.7902

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [7]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,San Policarpo,PH,78.55,overcast clouds,12.1791,125.5072,
7,Lamu,KE,75.42,overcast clouds,-2.2717,40.9020,
9,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,
11,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,
12,Kahului,US,82.42,few clouds,20.8947,-156.4700,
16,Rikitea,PF,72.03,light rain,-23.1203,-134.9692,
17,Alta Floresta,BR,85.28,overcast clouds,-9.8756,-56.0861,
18,Misratah,LY,71.17,few clouds,32.3754,15.0925,
20,Vanimo,PG,77.50,overcast clouds,-2.6741,141.3028,
21,Butaritari,KI,80.64,broken clouds,3.0707,172.7902,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [8]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [9]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,San Policarpo,PH,78.55,overcast clouds,12.1791,125.5072,Agapita M. Nicart
7,Lamu,KE,75.42,overcast clouds,-2.2717,40.9020,Lamu House
9,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
11,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
12,Kahului,US,82.42,few clouds,20.8947,-156.4700,Maui Seaside Hotel
16,Rikitea,PF,72.03,light rain,-23.1203,-134.9692,People ThankYou
17,Alta Floresta,BR,85.28,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
18,Misratah,LY,71.17,few clouds,32.3754,15.0925,Almasa Hotel
20,Vanimo,PG,77.50,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
21,Butaritari,KI,80.64,broken clouds,3.0707,172.7902,Isles Sunset Lodge

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [11]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,San Policarpo,PH,78.55,overcast clouds,12.1791,125.5072,Agapita M. Nicart
7,Lamu,KE,75.42,overcast clouds,-2.2717,40.9020,Lamu House
9,Puerto Escondido,MX,86.83,few clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
11,Mount Isa,AU,73.17,broken clouds,-20.7333,139.5000,ibis Styles Mt Isa Verona
12,Kahului,US,82.42,few clouds,20.8947,-156.4700,Maui Seaside Hotel
16,Rikitea,PF,72.03,light rain,-23.1203,-134.9692,People ThankYou
17,Alta Floresta,BR,85.28,overcast clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
18,Misratah,LY,71.17,few clouds,32.3754,15.0925,Almasa Hotel
20,Vanimo,PG,77.50,overcast clouds,-2.6741,141.3028,Vahmoneh Lodge Vanimo
21,Butaritari,KI,80.64,broken clouds,3.0707,172.7902,Isles Sunset Lodge

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [12]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [13]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [14]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [15]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Agapita M. Nicart</dd>\n<dt>City</dt><dd>San Policarpo</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 78.55 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Lamu House</dd>\n<dt>City</dt><dd>Lamu</dd>\n<dt>Country</dt><dd>KE</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 75.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Aldea del Bazar Hotel and Spa</dd>\n<dt>City</dt><dd>Puerto Escondido</dd>\n<dt>Country</dt><dd>MX</dd>\n<dt>Weather Description</dt><dd>few clouds and 86.83 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>ibis Styles Mt Isa Verona</dd>\n<dt>City</dt><dd>Mount Isa</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Weather Description</dt><dd>broken clouds and 73.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Maui Seaside Hotel</dd>\n<dt>City</dt><dd>Kahului</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Weather Description</dt><dd>few clouds and 82.42 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Weather Description</dt><dd>light rain and 72.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Floresta Amazonica Hotel</dd>\n<dt>City</dt><dd>Alta Floresta</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 85.28 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Almasa Hotel</dd>\n<dt>City</dt><dd>Misratah</dd>\n<dt>Country</dt><dd>LY</dd>\n<dt>Weather Description</dt><dd>few clouds and 71.17 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Vahmoneh Lodge Vanimo</dd>\n<dt>City</dt><dd>Vanimo</dd>\n<dt>Country</dt><dd>PG</dd>\n<dt>Weather Description</dt><dd>overcast clouds and 77.5 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Isles Sunset Lodge</dd>\n<dt>City</dt><dd>Butaritari</dd>\n<dt>Country</dt><dd>KI</dd>\n<dt>Weather Description</dt><dd>broken clouds and 80.64 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [16]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
4   12.1791  125.5072
7   -2.2717   40.9020
9   15.8500  -97.0667
11 -20.7333  139.5000
12  20.8947 -156.4700
16 -23.1203 -134.9692
17  -9.8756  -56.0861
18  32.3754   15.0925
20  -2.6741  141.3028
21   3.0707  172.7902

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [17]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))